


.pagecontainer {
  display: -webkit-flex;
  display: flex;
  min-height:100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Imprima'; sans-serif;
  margin: 0;

}
.flex-container-left {
  width: 25%; 
}
.name-and-social {
  background-color: #64908A;
  padding: 20px;
  font-family:'Cantata One', serif;
}
.nav-links {
  background-color: #424254;
  justify-content: flex-start;
  padding: 30px 30px 50px 40px;
  min-height:100vh;
  font: 18px; color: #CC2A41; 
  margin-left: -18px;
  list-style-type: none;
}
  .nav-links a:link{
    color: white; text-decoration: none;
  }
  .nav-links a:visited{
    color: white; text-decoration: none;
  }
  .nav-links a:hover{
    color: black; text-decoration: none;
  }
  .nav-links a:active{
    color: black; text-decoration: none;
  }
  .nav-links p{
    color: white; margin-left:-18px; padding:0;
  }
  .nav-links li{
    padding:0;
  }
  .current {
    color: black;
  }
.flex-container-right {
    flex: 4;
    padding: 20px;
    background-color: #E8CAA4;
}
.body-text {
 
}


