


.pagecontainer {
  display: -webkit-flex;
  display: flex;
  min-height:100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Arimo'; sans-serif;
  margin: 0;

}
.leftcontainer{
  width:15%;
  background-color: #33417d;
}
.center {
  width:70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #4558A7;
  z-index: 1;

  box-shadow: 0px 0px 10px 5px black;
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
  -o-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);

}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
/*  font-family: 'Lobster Two', cursive;*/
}
.header__logo {
  width: 220px;
  height: auto;
  padding: 10px;
}
.header__addresses{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 17px;
  padding-right: 15px;
  color:#4558A7;
  font-size: 10px;
}
.header__address{
  padding-bottom: 3px;
}
.header__citrix {
  padding: 6px;
  margin-bottom: 12px;
  font-size: 12px;
  background-color: #757575;
  color: white;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}
.header__citrix:hover {
  text-decoration: none;
  background-color: white;
  border: 1px solid #4558A7;
  color: #4558A7;
}
.navBar {
  background-color: #757575;
  z-index: 1;
  min-height: 15px;
}
#pedestrianBridge {
  max-width: 100%;
  padding: 0px;
}
.navBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: #757575;
}
.navBlocks__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  padding: 15px;
  font-size: 14px;
  color: white;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
  cursor: pointer;
  transition: background-color 0.4s ease;
  transition: color 0.4s ease;
}
.navBlocks__block:hover {
  background-color: #4558A7;
  color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: relative; 
    width: 20%;
    top: -135px;
    z-index: 2; /* Sit on top */
}
.modal_content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    background-color: #757575;
    color: white;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
@-webkit-keyframes slideIn {
    from {top: 30px; opacity: 0}
    to {top: 0px; opacity: 1}
}

@keyframes slideIn {
    from {top: 30px; opacity: 0}
    to {top: 0px; opacity: 1}
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 28%;
}

.modal_body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  margin: 15px;
}

.modal_footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.belowFold {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #4558A7;
  padding: 15px;
  padding-top: 15px;
}
.peopleMatter {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 70%;
  padding: 15px;
  margin-top: 15px;
}
.peopleMatter__header {
  font-size: 32px;
  font-weight: 700;
}
.peopleMatter__body{
  font-size: 16px;
  font-weight: 400;
}
.newsletterSignUp {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  color: #4558A7;
  padding: 15px;
  margin: 15px;
  border: 1px solid #4558A7;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
}
.newsletterSignUp__header{
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.newsletterSignUp__body{
  margin-top: 7.5px;
  font-size: 16px;
  font-weight: 400;
}
.newsletterSignUp__form{
  margin-top: 7.5px;
  font-size: 16px;
  font-weight: 400;
}
.footer {
  display: flex;
  background-color: #4558A7;
  align-content: flex-end;
  font-family: 'Lobster Two', cursive;
}
.rightcontainer{
  width:15%;
  background-color: #33417d;
}



