


.pagecontainer {
  display: -webkit-flex;
  display: flex;
  min-height:100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Arimo'; sans-serif;
  margin: 0;

}
.flex-container-left {
  width: 25%; 
}
.name-and-social {
  background-color: #F2B8A0;
  padding: 20px;
  font-family: 'Lobster Two', cursive;
}
.nav-links {
  background-color: #D4486F;
  justify-content: flex-start;
  padding: 30px 30px 50px 40px;
  min-height:100vh;
  font: 18px; color: black; 
  margin-left: -18px;
  list-style-type: none;
}
  .nav-links a:link{
    color: white; text-decoration: none;
  }
  .nav-links a:visited{
    color: white; text-decoration: none;
  }
  .nav-links a:hover{
    color: black; text-decoration: none;
  }
  .nav-links a:active{
    color: black; text-decoration: none;
  }
  .nav-links h3 {
    color: #FC9D9A;
  }
   .nav-links ul {
    list-style-type: none;
  }
  .current {
    color: black;
  }
.flex-container-right {
    flex: 4;
    padding: 20px;
    background-color: #DACDBD;
}
.body-text {
 
}


